#video-container {
    grid-area: vtt;
    width: 98%;
}

#video-container > h2 {
    margin: 0;
    padding: 1rem 0;
    width: 100%;

    text-align: center;
    background: var(--pale-yellow);
}

#vtt-container {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0.6rem;
    box-sizing: border-box;

    background: var(--white);
}

video {
    width: 100%;
}

::cue {  
    background: var(--white);
    color: var(--dark-violet);

    font-size: 80%;
    font-weight: bold;
    font-family: Poppins;
}