<!DOCTYPE html>
<html>
    <head>
        <%- include("../fragments/head") %>
        <title>About Us</title>
    </head>
    <body>
        <%- include("../fragments/header") %>
        <div id="watermark">
            <p>Bejenariu<br>David-Cosmin</p>
        </div>
        <main>
            <section class="about">
                <p class="subtitle">NOT an ordinary tennis shop</p>
                <p>Tennis Garage is not a usual online shop. We inspire customers around the world with a wide selection of tennis products,
                providing the latest tennis news and a customer-friendly shopping experience. Helping you to improve your game,
                stimulate your talent and wake your inner champion is our main objective.
                </p>
                <p class="hashtag">#start discovering</p>
                <p class="subtitle">Broad variety of tennis gear</p>
                <p>In our tennis store you can find:</p>
                <ul>
                    <li>the latest trends for the tennis court for men, women, boys and girls.</li>
                    <li>a wide range of tennis rackets, tennis clothing, tennis shoes, tennis bags, tennis balls and tennis strings that optimize
                        the game of beginners, intermediate players, advanced players or professionals.</li>
                    <li>classic brands such as Nike, adidas, Asics, Under Armour, Wilson, Head, Babolat or K-Swiss,
                        as well as tennis brands with heritage like Lacoste and Sergio Tacchini.</li>
                    <li>the looks of the tennis stars. Are you interested in what the big tennis stars are wearing or which rackets are they playing with?
                        In our section “Gear of the Pros” we show you the tennis gear of professional tennis players like Novak Djokovic,
                        Rafael Nadal, Simona Halep, Roger Federer, Dominic Thiem, Sofia Kenin, Danill Medvedev, Naomi Osaka,
                        Stefanos Tsitsipas, Bianca Andreescu, Denis Shapovalov and many others.</li>
                </ul>
                <p class="hashtag">#that is why buying at Tennis Garage is fun</p>
                <p class="subtitle">The customers are our number ONE priority</p>
                <p>Your satisfaction is our driving force! In our online tennis shop, we place a great emphasis on professional work, customer-friendly
                user interface and well-qualified employees. If you have any questions or suggestions, do not hesitate to contact our team.
                </p>
                <p>Through our social media channels such as Facebook and Twitter, Tennis Garage becomes a meeting place for all tennis enthusiasts
                who want to share their experiences and discover the latest trends.
                </p>
                <p class="hashtag">#get in touch</p>
            </section>
        </main>
        <%- include("../fragments/footer") %>
    </body>
</html>