<footer>
    <h2>Find us at:</h2>
    <address id="contact">
        Phone: <a href="tel:+442080925843">+44 20 8092 5843</a><br>
        Email: <a href="mailto:shop@tennisgarage.com">shop@tennisgarage.com</a><br>
        52 Merthyr Road<br>
        Bulwark, UK<br><br>
    </address>
    <!-- <a href="https://www.youtube.com/watch?v=DLCZydoVaGM" target="_blank">Naomi Osaka wins 4th Grand Slam title at the Australian Open</a> -->
    <button onclick="topFunction()" id="toplink" title="Go to top">&#5123</button>
    <button class="far fa-moon change-theme" title="Change Theme"></button>
    <% if (locals.user) { %>
        <img id="user-photo" src="<%- locals.user.profile_picture %>" alt="profile picture">
    <% } %>
    <script src="/resurse/javascript/script.js"></script>
    <small>
        <br><br>Copyright &#169; Tennis Garage. All rights reserved.<br>
        Created on <time datetime="2021-03-07 21:30">7th of March 2021.</time>
    </small>
</footer>
<div class="banner">
    <h2>Disclaimer: This is a school project. Educational purposes only.</h2>
</div>