<header class="main-header">
    <h1>Tennis Garage</h1>
</header>
<nav>
    <label id="hamburger" for="small-menu">
        <img src="./resurse/imagini/hamburger.png" alt="menu">
    </label>
    <input id="small-menu" type="checkbox">
    <ul class="menu">
        <li class="button">
            <a href="index">Home</a>
        </li>
        <li class="dropdown">
            <div class="description">Shop</div>
            <ul class="dropdown-content">
                <li><a href="index">All</a></li>
                <li><a href="index">Rackets and Strings</a></li>
                <li><a href="index">Balls</a></li>
                <li><a href="index">Apparel</a></li>
                <li><a href="index">Shoes</a></li>
                <li><a href="index">Bags and Accessories</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <div class="description">Gear of the Pros</div>
            <ul class="dropdown-content">
                <li><a href="index">Roger Federer</a></li>
                <li><a href="index">Serena Williams</a></li>
                <li><a href="index">Rafael Nadal</a></li>
                <li><a href="index">Novak Djokovic</a></li>
                <li><a href="index">Simona Halep</a></li>
                <li><a href="index">Naomi Osaka</a></li>
            </ul>
        </li>
        <li class="button">
            <a href="gallery">Gallery</a>
        </li>
        <li class="button">
            <a href="about">About Us</a>
        </li>
    </ul>
</nav>